<footer>
    <div class="text-center text-white p-4 bottom" style="background-color: #023859;">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="">GuabaSofware</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->